cpp/temp/obj/debug/base/*.obj
cpp/temp/obj/debug/3d-engine/*.obj
cpp/temp/obj/debug/demos/*.obj
cpp/temp/obj/debug/nodes/*.obj
cpp/temp/obj/debug/opengl-utility/*.obj
cpp/temp/obj/debug/qt-utility/*.obj
cpp/temp/obj/debug/toolt-test/*.obj
cpp/temp/obj/release/base/*.obj
cpp/temp/obj/release/3d-engine/*.obj
cpp/temp/obj/release/demos/*.obj
cpp/temp/obj/release/nodes/*.obj
cpp/temp/obj/release/opengl-utility/*.obj
cpp/temp/obj/release/qt-utility/*.obj
cpp/temp/obj/release/toolt-test/*.obj

cpp/temp/moc/debug/nodes/*.h
cpp/temp/moc/debug/qt-utility/*.h
cpp/temp/moc/debug/toolt-test/*.h
cpp/temp/moc/release/nodes/*.h
cpp/temp/moc/release/qt-utility/*.h
cpp/temp/moc/release/toolt-test/*.h
cpp/temp/moc/debug/nodes/*.cpp
cpp/temp/moc/debug/qt-utility/*.cpp
cpp/temp/moc/debug/toolt-test/*.cpp
cpp/temp/moc/release/nodes/*.cpp
cpp/temp/moc/release/qt-utility/*.cpp
cpp/temp/moc/release/toolt-test/*.cpp

cpp/qmake/toolbox