
*.pro.user*

## bin
bin/**/*.exe
bin/**/*.lib
bin/**/*.ilk
bin/**/*.pdb
bin/**/*.exp
bin/**/*logs.html

## temp
temp/**/*.obj
temp/**/*.cpp
temp/**/*.h
temp/**/*.hpp

## qmake
qmake/**/.qmake.stash
qmake/**/MakeFile
qmake/**/MakeFile.Debug
qmake/**/MakeFile.Release

## thirdparty
thirdparty/**/*.sh
thirdparty/**/*.re
thirdparty/**/*.txt
thirdparty/**/*.dtd
thirdparty/**/*.pl
thirdparty/**/*.m4
thirdparty/**/*.ilk
thirdparty/**/*.inc
thirdparty/**/*.db
thirdparty/**/*.shm
thirdparty/**/*.erb
thirdparty/**/*.wal
thirdparty/**/*.bat
thirdparty/**/*.patch
thirdparty/**/*.suo
thirdparty/**/*.opendb
thirdparty/**/.editorconfig